@page "/housing"

<h3>Housing in Freiberg</h3>

<ul>
    <li>Student dorms (Studentenwerk)</li>
    <li>WG search websites (WG-Gesucht)</li>
    <li>Rental contract rules</li>
    <li>Common scams to avoid</li>
</ul>