@page "/transport"

<h3>Transport in Freiberg</h3>

<ul>
    <li>Bus routes (local transport)</li>
    <li>Train station (DB)</li>
    <li>Deutschlandticket information</li>
    <li>Travel to Dresden and Chemnitz</li>
</ul>